<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Sprints</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loggedIn">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#new-sprint">New Sprint</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#past-sprints">Past Sprints</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <button type="button" class="btn btn-info" (click)="logout()" >Logout</button>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!loggedIn">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
          <a routerLink="/login"><button type="button" class="btn btn-primary">Login</button></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>